In [1]:
import requests
import json

import pandas as pd

import time

handle : 사용자 명   
solvedCount : 푼 문제수   
exp : 경험치량   
tier : 현재 티어 - 브론즈 5 : 1, 브론즈 4 : 2 ~~~  
rating : 레이팅   
ratingByProblemsSum : 푼 문제의 난이도 합으로 계산한 레이팅(최대 100문제)   
ratingByClass : 클래스로 계산한 레이팅

In [2]:
userDataFrame = pd.DataFrame( columns=["handle", "solvedCount", "exp", "tier", "rating", "ratingByProblemsSum", "ratingByClass"])

In [3]:
def loadUserJson(i) :
    headerDict = {}
    headerDict.setdefault('page', str(i))
    return requests.get('https://solved.ac/api/v3/ranking/tier', headers=headerDict)

In [4]:
def saveUserJson(tempUser) :
    userDataFrame.loc[len(userDataFrame)] = [
        tempUser['handle'],
        tempUser['solvedCount'],
        tempUser['exp'],
        tempUser['tier'],
        tempUser['rating'],
        tempUser['ratingByProblemsSum'],
        tempUser['ratingByClass']]

In [5]:
def loadUserData():
    # 총 100명씩, 611 페이지의 유저 정보 페이지가 존재한다.
    #for i in range(3) :
    for i in range(611) :
            # 페이지는 1부터 시작하기 때문에 1을 더해준다.
        apiRequest = loadUserJson(i+1)
        if(apiRequest.status_code == 200) :
            users = apiRequest.json()['items']
            for tempUser in users :
                saveUserJson(tempUser)
        else :
            print(apiRequest.status_code)
            return
        time.sleep(10)

In [6]:
loadUserData()

In [7]:
userDataFrame

,handle,solvedCount,exp,tier,rating,ratingByProblemsSum,ratingByClass
0,koosaga,10831,13938731160,31,3252,2802,250
1,cki86201,6058,10297121101,31,3231,2781,250
2,mitnegativeinfinity,2137,6299290818,31,3178,2728,250
3,ainta,4108,6951756941,31,3136,2686,250
4,yclock,2661,4133441019,31,3117,2667,250
...,...,...,...,...,...,...,...
61095,kimjihoon,1377,825575478,25,2673,2278,220
61096,khsoo01,1318,1133364670,25,2671,2371,100
61097,soloplay,661,691315670,25,2670,2246,230
61098,klimmek55,3334,655148413,25,2665,2235,230
61099,himyu,639,428451668,25,2663,2230,240

In [8]:
userDataFrame.to_csv("userData.csv", mode='w', encoding='utf-8')

In [ ]:
# handle을 기반으로 백준에서 푼 문제, 시도했지만 못푼 문제 등 긁어오기...