In [21]:
import requests

from bs4 import BeautifulSoup as bs

import pandas as pd

import numpy as np

import time

 solvedProblemCount(int64) : 맞은 문제   
correctCount(int64) : 정답 횟수 (맞았습니다.)  
wrongCount(int64) : 오답 횟수 (틀렸습니다.)               
tiemOverCount(int64) : 시간초과 횟수 (시간초과)             
memoryOverCount(int64) : 메모리초과 횟수 (메모리 추가)        
solvedProblemList : 맞은 문제(text : List)               
unSolvedProblemList : 시도했지만 맞지 못한 문제(text : List)

| 데이터 이름           | 데이터 설명             |데이터가 있는 위치         |
|--------------------|-----------------------|----------------------|
| solvedProblemCount | 맞은 문제               | u-solved tag뒤에 위치  |
| correctCount       | 정답 횟수 (맞았습니다.)    | u-result-4 tag뒤에 위치|
| wrongCount         | 오답 횟수 (틀렸습니다.)    | u-result-6 tag뒤에 위치|
| tiemOverCount      | 시간초과 횟수 (시간초과)    | u-result-7 tag뒤체 위치|
| memoryOverCount    | 메모리초과 횟수 (메모리 초과)| u-result-8 tag뒤에 위치|
| solvedProblemList  | 맞은 문제(text : List)   |panel-body에 problem list에 위치 |
| unSolvedProblemList|시도했지만 맞지 못한 문제(text : List)| panel-body problem list에 위치 |

In [22]:
def read_user_csv():
     return pd.read_csv("userData.csv")

In [23]:
# 백준에서 사용자의 정보를 크롤링 하는 함수
# 간격은 10분으로 크롤링을 진행한다. (ip ban을 방지)
def DataCrawl(userId):
    # BaseUrl인 BackJoon에 사용자 ID를 더해 크롤링 주소를 만든다.
    crawling_url = 'https://www.acmicpc.net/user/'
    crawling_url = crawling_url + userId
    
    # 정상적으로 크롤링을 하기 위해서 header를 삽입.
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    response = requests.get(crawling_url, headers=headers)
    text = response.text
    
    soup = bs(text, "html.parser")

    user_Detail = soup.find('table',{'class':'table table-hover'})

    for user_data in user_Detail:
        solved = user_data.find('span',{'id': 'u-solved'}).text
        correct = user_data.find('span',{'id': 'u-result-4'}).text
        wrong = user_data.find('span',{'id': 'u-result-6'}).text
        timeO = user_data.find('span',{'id': 'u-result-7'}).text
        memoryO = user_data.find('span',{'id': 'u-result-8'}).text
        user.loc[len(user)] = [userId, solved, correct, wrong, timeO,memoryO]
        
        solved_Detail = soup.find_all('div',{'class':'problem-list'})
        for solved_list in solved_Detail[0]:
            if (solved_list.text == '\n' or solved_list.text == ' '):
                temp = solved_list.text
            else:
                solved = solved_list.text
                user_solved.loc[len(user_solved)] = [userId, solved]
                
        for unsolved_list in solved_Detail[1]:
            if (unsolved_list.text == '\n' or unsolved_list.text == ' '):
                temp = solved_list.text
            else:
                unsolved = unsolved_list.text
                user_unsolved.loc[len(user_unsolved)] = [userId, unsolved]

    print(userId)
    time.sleep(5)

In [24]:
user = pd.DataFrame (columns = 
    [
        "User",
        "SolvedProblemCount",
        "CorrectedCount",
        "WrongCount",
        "TimeOverCount",
        "MemoryOverCount"
    ]
)
user_solved= pd.DataFrame (columns = 
    [
        "User",
        "SolvedProblem"
    ]
)

user_unsolved = pd.DataFrame (columns = 
    [
        "User",
        "UnSolvedProblem"
    ]
)

In [25]:
# user_csv = read_user_csv()
# 사용자의 이름에 대한 배열을 제작.
#user_list = np.array(user_csv['handle'])

#for user in (user_list):
#    DataCrawl(user)

DataCrawl("userid")
DataCrawl("koosaga")

userid
koosaga

In [26]:
user

,User,SolvedProblemCount,CorrectedCount,WrongCount,TimeOverCount,MemoryOverCount
0,userid,82,84,60,10,1
1,koosaga,11111,13022,6293,1290,162

In [31]:
user_solved

          User SolvedProblem
0       userid          1000
1       userid          1001
2       userid          1002
3       userid          1003
4       userid          1004
...        ...           ...
11188  koosaga         25021
11189  koosaga         25022
11190  koosaga         25029
11191  koosaga         25031
11192  koosaga         25032

[11193 rows x 2 columns]

In [30]:
user_unsolved

       User UnSolvedProblem
0    userid            1005
1    userid            1124
2    userid            1152
3    userid            1212
4    userid            1260
5    userid            1373
6    userid            1520
7    userid            1541
8    userid            1662
9    userid            1978
10   userid            2098
11   userid            2230
12   userid            2336
13   userid            2470
14   userid            2504
15   userid            2776
16   userid            3107
17   userid            3448
18  koosaga           11937
19  koosaga           11938
20  koosaga           11939
21  koosaga           11940
22  koosaga           19937
23  koosaga           21851
24  koosaga           22033
25  koosaga           24946