In [22]:
import requests
from bs4 import BeautifulSoup as bs

problemList = []

bronze5 ~ ruby1 리스트

In [23]:
import time

for i in range(1, 32):
    for j in range(1, 10):
        crawling_url = 'https://solved.ac/problems/level/'+ str(i) + '?page=' + str(j)
        if not crawling_url:
            break
        response = requests.get(crawling_url)
        text = response.text
        soup = bs(text, 'html.parser')
        problems = soup.find_all('a', 'ProblemInline__ProblemStyle-sc-yu6g1r-0 jRAQI')
        for problem in problems:
            temp = problem.find('span').text
            problemList.append(temp)
        time.sleep(3)

각 리스트로 넣을 방법이 if문으로 하나씩 들어가는 것밖에 생각이 안남

In [30]:
import pandas as pd
import numpy as np

dataFrameProblem = {'problem' : problemList,}

res = pd.DataFrame.from_dict(dataFrameProblem, orient='index')

In [31]:
res = res.transpose()
res

      problem
0        1000
1        1001
2        1271
3        1550
4        2338
...       ...
15732   21789
15733   21828
15734   22027
15735   23118
15736   23652

[15737 rows x 1 columns]

In [32]:
res.to_csv("problemInfo.csv")