In [11]:
import requests

from bs4 import BeautifulSoup as bs

import pandas as pd

import numpy as np

import time

 solvedProblemCount(int64) : 맞은 문제   
correctCount(int64) : 정답 횟수 (맞았습니다.)  
wrongCount(int64) : 오답 횟수 (틀렸습니다.)               
tiemOverCount(int64) : 시간초과 횟수 (시간초과)             
memoryOverCount(int64) : 메모리초과 횟수 (메모리 추가)        
solvedProblemList : 맞은 문제(text : List)               
unSolvedProblemList : 시도했지만 맞지 못한 문제(text : List)

| 데이터 이름           | 데이터 설명             |데이터가 있는 위치         |
|--------------------|-----------------------|----------------------|
| solvedProblemCount | 맞은 문제               | u-solved tag뒤에 위치  |
| correctCount       | 정답 횟수 (맞았습니다.)    | u-result-4 tag뒤에 위치|
| wrongCount         | 오답 횟수 (틀렸습니다.)    | u-result-6 tag뒤에 위치|
| tiemOverCount      | 시간초과 횟수 (시간초과)    | u-result-7 tag뒤체 위치|
| memoryOverCount    | 메모리초과 횟수 (메모리 초과)| u-result-8 tag뒤에 위치|
| solvedProblemList  | 맞은 문제(text : List)   |panel-body에 problem list에 위치 |
| unSolvedProblemList|시도했지만 맞지 못한 문제(text : List)| panel-body problem list에 위치 |

In [16]:
def read_user_csv():
     return pd.read_csv("userData.csv")

In [60]:
# 백준에서 사용자의 정보를 크롤링 하는 함수
# 간격은 10분으로 크롤링을 진행한다. (ip ban을 방지)
def DataCrawl(userId):
    # BaseUrl인 BackJoon에 사용자 ID를 더해 크롤링 주소를 만든다.
    crawling_url = 'https://www.acmicpc.net/user/'
    crawling_url = crawling_url + userId
    
    # 정상적으로 크롤링을 하기 위해서 header를 삽입.
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    response = requests.get(crawling_url, headers=headers)
    text = response.text
    
    soup = bs(text, "html.parser")

    user_Detail = soup.find('table',{'class':'table table-hover'})

    for user_data in user_Detail:
        rank = user_data.find('td').text
        solved = user_data.find('span',{'id': 'u-solved'}).text
        correct = user_data.find('span',{'id': 'u-result-4'}).text
        wrong = user_data.find('span',{'id': 'u-result-6'}).text
        timeO = user_data.find('span',{'id': 'u-result-7'}).text
        memoryO = user_data.find('span',{'id': 'u-result-8'}).text
        bojRank.append(rank)
        solvedProblemCount.append(solved)
        correctedCount.append(correct)
        wrongCount.append(wrong)
        timeOverCount.append(timeO)
        memoryOverCount.append(memoryO)
    time.sleep(60)

In [61]:
user_csv = read_user_csv()
# 사용자의 이름에 대한 배열을 제작.
user_list = np.array(user_csv['handle'])

# 사용자 정보를 담고 있는 부분
# print(soup.find('table',{'class':'table table-hover'}).text)
solvedProblemCount = []
submissionCount = []
correctedCount = []
wrongCount = []
timeOverCount = []
memoryOverCount = []
solvedProblemList = []
unSolvedProblemList = []

for user in range(user_list):

AttributeError: 'NoneType' object has no attribute 'text'

In [207]:
solved_Detail = soup.find_all('div',{'class':'problem-list'})

for solved_list in solved_Detail[0]:
    if (solved_list.text == '\n' or solved_list.text == ' '):
        temp = solved_list.text
    else:
        solved = solved_list.text
        solvedProblemList.append(solved)
    
for unsolved_list in solved_Detail[1]:
    if (unsolved_list.text == '\n' or unsolved_list.text == ' '):
        temp = solved_list.text
    else:
        unsolved = unsolved_list.text
        unSolvedProblemList.append(unsolved)

In [45]:
user = pd.DataFrame (
    {
        "User": user_list,
        "SolvedProblemCount": solvedProblemCount,
        "CorrectedCount": correctedCount,
        "WrongCount": wrongCount,
        "TimeOverCount": timeOverCount,
        "MemoryOverCount": memoryOverCount,
    }
)

In [46]:
user

,User,Rank,SolvedProblemCount,SubmissionCount,CorrectedCount,WrongCount,TimeOverCount,MemoryOverCount
0,userId,39757,82,170,84,60,10,1
1,userId,1,11100,40,13007,6292,1288,162

In [210]:
user_solved_list = pd.DataFrame (
    {
        "User":userId,
        "SolvedProblem":solvedProblemList
    }
)

user_unsolved_list = pd.DataFrame (
    {
        "User":userId,
        "UnSolvedProblem":unSolvedProblemList
    }
)

In [211]:
user_solved_list

      User SolvedProblem
0   userId          1000
1   userId          1001
2   userId          1002
3   userId          1003
4   userId          1004
..     ...           ...
77  userId          2960
78  userId          3041
79  userId          3449
80  userId          3460
81  userId          3495

[82 rows x 2 columns]

In [212]:
user_unsolved_list

      User UnSolvedProblem
0   userId            1005
1   userId            1124
2   userId            1152
3   userId            1212
4   userId            1260
5   userId            1373
6   userId            1520
7   userId            1541
8   userId            1662
9   userId            1978
10  userId            2098
11  userId            2230
12  userId            2336
13  userId            2470
14  userId            2504
15  userId            2776
16  userId            3107
17  userId            3448