In [87]:
import requests
import json

import pandas as pd

import time

handle : 사용자 명   
solvedCount : 푼 문제수   
exp : 경험치량   
tier : 현재 티어 - 브론즈 5 : 1, 브론즈 4 : 2 ~~~  
rating : 레이팅   
ratingByProblemsSum : 푼 문제의 난이도 합으로 계산한 레이팅(최대 100문제)   
ratingByClass : 클래스로 계산한 레이팅

In [88]:
userDataFrame = pd.DataFrame( columns=["handle", "solvedCount", "exp", "tier", "rating", "ratingByProblemsSum", "ratingByClass"])

In [89]:
def loadUserJson(i) :
    headerDict = {}
    headerDict.setdefault('Content-Type', "application/json")
    return requests.get('https://solved.ac/api/v3/ranking/tier?page='+str(i))

In [90]:
def saveUserJson(tempUser) :
    userDataFrame.loc[len(userDataFrame)] = [
        tempUser['handle'],
        tempUser['solvedCount'],
        tempUser['exp'],
        tempUser['tier'],
        tempUser['rating'],
        tempUser['ratingByProblemsSum'],
        tempUser['ratingByClass']]

In [91]:
def loadUserData():
    # 총 100명씩, 650 페이지의 유저 정보 페이지가 존재한다.
    #for i in range(3) :
    for i in range(650) :
        # 페이지는 1부터 시작하기 때문에 1을 더해준다.
        apiRequest = loadUserJson(i+1)
        if(apiRequest.status_code == 200) :
            users = apiRequest.json()['items']
            for tempUser in users :
                saveUserJson(tempUser)
        else :
            print(apiRequest.status_code)
            return
        time.sleep(10)

In [92]:
loadUserData()

In [93]:
userDataFrame

,handle,solvedCount,exp,tier,rating,ratingByProblemsSum,ratingByClass
0,koosaga,11079,14243732593,31,3252,2802,250
1,cki86201,6059,10292773001,31,3231,2781,250
2,mitnegativeinfinity,2209,6396859599,31,3180,2730,250
3,ainta,4111,6948188567,31,3135,2685,250
4,yclock,2671,4133760961,31,3116,2666,250
...,...,...,...,...,...,...,...
64995,ou0911,0,0,0,0,0,0
64996,ouioui22,0,0,0,0,0,0
64997,overicarus,0,0,0,0,0,0
64998,oy8357,0,0,0,0,0,0
64999,oya1130,0,0,0,0,0,0

In [94]:
userDataFrame.to_csv("userData.csv", mode='w', encoding='utf-8')

In [ ]:
# handle을 기반으로 백준에서 푼 문제, 시도했지만 못푼 문제 등 긁어오기...