In [2]:
import requests
from bs4 import BeautifulSoup as bs

bronze5 = []
bronze4 = []
bronze3 = []
bronze2 = []
bronze1 = []
silver5 = []
silver4 = []
silver3 = []
silver2 = []
silver1 = []
gold5 = []
gold4 = []
gold3 = []
gold2 = []
gold1 = []
platinum5 = []
platinum4 = []
platinum3 = []
platinum2 = []
platinum1 = []
diamond5 = []
diamond4 = []
diamond3 = []
diamond2 = []
diamond1 = []
ruby5 = []
ruby4 = []
ruby3 = []
ruby2 = []
ruby1 = []

bronze5 ~ ruby1 리스트

In [3]:
import time

for i in range(1, 31):
    for j in range(1, 10):
        crawling_url = 'https://solved.ac/problems/level/'+ str(i) + '?page=' + str(j)
        if not crawling_url:
            break
        response = requests.get(crawling_url)
        text = response.text
        soup = bs(text, 'html.parser')
        problemlist = soup.find_all('a', 'ProblemInline__ProblemStyle-sc-yu6g1r-0 jRAQI')
        for problem in problemlist:
            temp = problem.find('span').text
            if i == 1:
                bronze5.append(temp)
            if i == 2:
                bronze4.append(temp)
            if i == 3:
                bronze3.append(temp)
            if i == 4:
                bronze2.append(temp)
            if i == 5:
                bronze1.append(temp)
            if i == 6:
                silver5.append(temp)
            if i == 7:
                silver4.append(temp)
            if i == 8:
                silver3.append(temp)
            if i == 9:
                silver2.append(temp)
            if i == 10:
                silver1.append(temp)
            if i == 11:
                gold5.append(temp)
            if i == 12:
                gold4.append(temp)
            if i == 13:
                gold3.append(temp)
            if i == 14:
                gold2.append(temp)
            if i == 15:
                gold1.append(temp)
            if i == 16:
                platinum5.append(temp)
            if i == 17:
                platinum4.append(temp)
            if i == 18:
                platinum3.append(temp)
            if i == 19:
                platinum2.append(temp)
            if i == 20:
                platinum1.append(temp)
            if i == 21:
                diamond5.append(temp)
            if i == 22:
                diamond4.append(temp)
            if i == 23:
                diamond3.append(temp)
            if i == 24:
                diamond2.append(temp)
            if i == 25:
                diamond1.append(temp)
            if i == 26:
                ruby5.append(temp)
            if i == 27:
                ruby4.append(temp)
            if i == 28:
                ruby3.append(temp)
            if i == 29:
                ruby2.append(temp)
            if i == 30:
                ruby1.append(temp)
        time.sleep(0.5)

각 리스트로 넣을 방법이 if문으로 하나씩 들어가는 것밖에 생각이 안남

In [8]:
import pandas as pd
import numpy as np

df1 = {
        'bronze5': bronze5,
        'bronze4': bronze4,
        'bronze3': bronze3,
        'bronze2': bronze2,
        'bronze1': bronze1,
        'silver5': silver5,
        'silver4': silver4,
        'silver3': silver3,
        'silver2': silver2,
        'silver1': silver1,
        'gold5': gold5,
        'gold4': gold4,
        'golde3': gold3,
        'gold2': gold2,
        'gold1': gold1,
        'platinum5': platinum5,
        'platinum4': platinum4,
        'platinum3': platinum3,
        'platinum2': platinum2,
        'platinum1': platinum1,
        'diamond5': diamond5,
        'diamond4': diamond4,
        'diamond3': diamond3,
        'diamond2': diamond2,
        'diamond1': diamond1,
        'ruby5': ruby5,
        'ruby4': ruby4,
        'ruby3': ruby3,
        'ruby2': ruby2,
        'ruby1': ruby1,
    }

res = pd.DataFrame.from_dict(df1, orient='index')

In [9]:
res = res.transpose()
res

,bronze5,bronze4,bronze3,bronze2,bronze1,silver5,silver4,silver3,silver2,silver1,...,diamond5,diamond4,diamond3,diamond2,diamond1,ruby5,ruby4,ruby3,ruby2,ruby1
0,1000,1008,1009,1075,1032,1010,1002,1003,1012,1052,...,1031,1054,1046,1172,1218,1868,3303,4000,1921,1845
1,1001,1297,1085,1076,1110,1018,1015,1004,1024,1074,...,1061,1123,1140,1250,1386,3383,3836,5401,11392,11935
2,1271,1330,1212,1100,1145,1037,1021,1051,1058,1080,...,1130,1127,1144,1295,1842,4004,4456,5460,14640,12772
3,1550,1712,1247,1152,1157,1059,1026,1057,1138,1105,...,1134,1150,1165,1335,2430,4212,4786,8883,15698,17465
4,2338,2420,1267,1159,1193,1064,1049,1072,1141,1117,...,1163,1196,1180,1628,2489,4218,6293,9541,17461,17936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,None,None,None,24924,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
801,None,None,None,24927,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
802,None,None,None,24937,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
803,None,None,None,25053,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
804,None,None,None,25088,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None