In [202]:
import requests

from bs4 import BeautifulSoup as bs

import pandas as pd

import time

import re

bojRank(int64) : 백준 등수 (등수) = 등수 뒤   
solvedProblemCount(int64) : 맞은 문제  = u-solved  
submissionCount(int64) : 제출 횟수 (제출) = 제출  
correctCount(int64) : 정답 횟수 (맞았습니다.) = u-result-4  
wrongCount(int64) : 오답 횟수 (틀렸습니다.) = u-result-6  
tiemOverCount(int64) : 시간초과 횟수 (시간초과) = u-result-7  
memoryOverCount(int64) : 메모리초과 횟수 (메모리 추가) = u-result-8  
solvedProblemList : 맞은 문제(text : List) = panel-body에 problem list에 있다.  
unSolvedProblemList : 시도했지만 맞지 못한 문제(text : List) = panel-body problem list에 있다.

In [203]:
# BaseUrl인 BackJoon에 사용자 ID를 더해 크롤링 주소를 만든다.
crawling_url = 'https://www.acmicpc.net/user/'
userId = 'userId'
crawling_url = crawling_url + userId

In [204]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

response = requests.get(crawling_url, headers=headers)
print(response.status_code)
text = response.text

200

In [205]:
soup = bs(text, "html.parser")

In [206]:
# 사용자 정보를 담고 있는 부분
# print(soup.find('table',{'class':'table table-hover'}).text)
bojRank = []
solvedProblemCount = []
submissionCount = []
correctedCount = []
wrongCount = []
timeOverCount = []
memoryOverCount = []
solvedProblemList = []
unSolvedProblemList = []

user_Detail = soup.find('table',{'class':'table table-hover'})

for user_data in user_Detail:
    rank = user_data.find('td').text
    solved = user_data.find('span',{'id': 'u-solved'}).text
    submit = user_data.select('a')[1].text
    correct = user_data.find('span',{'id': 'u-result-4'}).text
    wrong = user_data.find('span',{'id': 'u-result-6'}).text
    time = user_data.find('span',{'id': 'u-result-7'}).text
    memory = user_data.find('span',{'id': 'u-result-8'}).text
    bojRank.append(rank)
    solvedProblemCount.append(solved)
    submissionCount.append(submit)
    correctedCount.append(collect)
    wrongCount.append(wrong)
    timeOverCount.append(time)
    memoryOverCount.append(memory)

In [207]:
solved_Detail = soup.find_all('div',{'class':'problem-list'})

for solved_list in solved_Detail[0]:
    if (solved_list.text == '\n' or solved_list.text == ' '):
        temp = solved_list.text
    else:
        solved = solved_list.text
        solvedProblemList.append(solved)
    
for unsolved_list in solved_Detail[1]:
    if (unsolved_list.text == '\n' or unsolved_list.text == ' '):
        temp = solved_list.text
    else:
        unsolved = unsolved_list.text
        unSolvedProblemList.append(unsolved)

In [208]:
user = pd.DataFrame (
    {
        "User": userId,
        "Rank": bojRank,
        "SolvedProblemCount": solvedProblemCount,
        "SubmissionCount": submissionCount,
        "CorrectedCount": correctedCount,
        "WrongCount": wrongCount,
        "TimeOverCount": timeOverCount,
        "MemoryOverCount": memoryOverCount,
    }
)

In [209]:
user

,User,Rank,SolvedProblemCount,SubmissionCount,CorrectedCount,WrongCount,TimeOverCount,MemoryOverCount
0,userId,39458,82,18,84,60,10,1

In [210]:
user_solved_list = pd.DataFrame (
    {
        "User":userId,
        "SolvedProblem":solvedProblemList
    }
)

user_unsolved_list = pd.DataFrame (
    {
        "User":userId,
        "UnSolvedProblem":unSolvedProblemList
    }
)

In [211]:
user_solved_list

      User SolvedProblem
0   userId          1000
1   userId          1001
2   userId          1002
3   userId          1003
4   userId          1004
..     ...           ...
77  userId          2960
78  userId          3041
79  userId          3449
80  userId          3460
81  userId          3495

[82 rows x 2 columns]

In [212]:
user_unsolved_list

      User UnSolvedProblem
0   userId            1005
1   userId            1124
2   userId            1152
3   userId            1212
4   userId            1260
5   userId            1373
6   userId            1520
7   userId            1541
8   userId            1662
9   userId            1978
10  userId            2098
11  userId            2230
12  userId            2336
13  userId            2470
14  userId            2504
15  userId            2776
16  userId            3107
17  userId            3448