In [9]:
import pandas as pd
import numpy as np

In [10]:
userSolved = pd.read_csv("data/userSolved.csv")
problemInfo = pd.read_csv("data/problemInfo.csv")

In [12]:
problemInfo

       problem
0         1000
1         1001
2         1271
3         1550
4         2338
...        ...
15732    21789
15733    21828
15734    22027
15735    23118
15736    23652

[15737 rows x 1 columns]

In [15]:
problems = np.array(problemInfo['problem'].tolist())

In [16]:
problems

array([ 1000,  1001,  1271, ..., 22027, 23118, 23652])

In [25]:
userSolved

          userId  solved
0        koosaga    1000
1        koosaga    1001
2        koosaga    1002
3        koosaga    1003
4        koosaga    1004
...          ...     ...
8224055   ou0911   10998
8224056   ou0911   11654
8224057   ou0911   16394
8224058   ou0911   16430
8224059   ou0911   18108

[8224060 rows x 2 columns]

In [49]:
users = np.array(userSolved['userId'].tolist())
users = list(set(users))
users = np.array(users)

In [50]:
users

array(['jiwon405', 'slango', 'edgecoding', ..., 'cyc03265', 'sogangyj00',
       'hongsh826'], dtype='<U20')

In [111]:
userSolved['userId'][0]
count = 0
dic = {}

for i in range(userSolved.size - 1):
    if(userSolved['userId'][i] == users[count]):
        dic[users[count]] = dic[users[count]].append(userSolved['solved'][i])
    else:
        count += 1
        dic[users[count]] = list(userSolved['solved'][i])

TypeError: 'numpy.int64' object is not iterable

In [108]:
type(userSolved['solved'][0])

numpy.int64